@import "search-view_movie_movie-info.css";

.movie {
  background-color: #ebebeb;
  height: 150px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px #000;
}

/* Movie Name  */

.movie h2 {
  margin: 0;
  padding: 0.6rem 0 0 80px;
  background-color: #116193;

  /* font */
  color: white;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

@media only screen and (min-width: 480px) {
  .movie {
    height: 216px;
  }

  .movie h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .movie {
    height: 297px;
  }
}
