/* Sinopse  */

.sinopse {
  position: relative;
}

/* Release date  */

.sinopse .release-date {
  font-family: "Abel", sans-serif;
  font-size: 0.6rem;

  margin-left: 3px;
  position: absolute;
  top: 0;
}

.sinopse p {
  font-size: 0.7rem;

  position: absolute;
  top: 1.3rem;

  overflow: hidden;

  height: 55px;
  margin-left: 15px;
  margin-right: 5px;
}

@media only screen and (min-width: 480px) {
  .sinopse .release-date {
    font-size: 0.8rem;
  }

  .sinopse p {
    height: 85px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .sinopse .release-date {
    font-size: 0.9rem;
  }

  .sinopse p {
    height: 148px;
    font-size: 1.2rem;
  }
}
